<!-- Footer -->
<footer class="bg-dark text-center">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Social media -->
        <section class="mb-4 socials">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1 telegram" href="https://t.me/{{ site.data.resume.general.telegram }}" role="button"><i class="fa-brands fa-telegram"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1 twitter" href="https://twitter.com/{{ site.data.resume.general.twitter }}" role="button"><i class="fab fa-twitter"></i></a>

    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->
