<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="/assets/the-watcherrrrr.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% assign sortedPages = site.pages | where:"menu-parent", "root" | sort: "menu-order"  %}
            {% for linkpage in sortedPages %}
            {% if page.permalink == linkpage.permalink %}
            <a class="nav-item nav-link active" href="{{ linkpage.permalink }}">{{ linkpage.title }}</a>

            {% else %}
            <a class="nav-item nav-link " href="{{ linkpage.permalink }}">{{ linkpage.title }}</a>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>
